* {
  padding: 0px;
  margin: 0px;
  /* aadding a font family */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body {
  /* setting a background gradient */
  background: rgb(0, 5, 60);
  background: radial-gradient(
    circle,
    rgba(0, 5, 60, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}
.divmain {
  width: 70%;
  margin-left: 15%;
  margin-top: 8%;
}
.div1 {
  width: 37%;
  margin-left: 30%;
  display: flex;
  justify-content: space-evenly;
}
.about {
  background-clip: text;
  /* Make the text color transparent */
  color: transparent;
  background-image: linear-gradient(to right, #ff00cc, #3333cc);
}

h1 {
  margin-top: 1%;
  text-align: center;
  color: whitesmoke;
}
#container {
  margin-top: 2%;
  background-clip: text;
  /* Make the text color transparent */
  color: transparent;
  background-image: linear-gradient(to right, #dddd6e, #62a3c9);
  font-weight: bold;
}

/* adding media queries to make mobile reasponsive  */
@media screen and (max-width: 325px) and (min-width: 600px) {
  h1 {
    font-size: 20px;
  }
  p {
    font-size: 5px;
  }
}
