* {
  padding: 0px;
  margin: 0px;
  /* setting a font family to the universal selector */
  font-family: Arial, Helvetica, sans-serif;
}
body {
  /* setting a background using css gradient  */
  background: rgb(117, 136, 155);
  background: radial-gradient(
    circle,
    rgba(117, 136, 155, 1) 0%,
    rgba(14, 27, 108, 1) 85%
  );
  width: 100%;
  height: 100vh;
}
.maindiv {
  height: 100vh;
  width: 100%;
}
.playersname {
  color: white;
  display: flex;
  justify-content: space-evenly;
  font-size: 20px;
  margin-top: 1%;
  text-shadow: 1px 1px black;
}
.imgdiv {
  position: absolute;
  right: 50%;
  width: 200px;
  border-radius: 25px;
}

.boyimg {
  width: 300px;
  position: absolute;
  top: 180px;
  right: 60%;
}

.girlimg {
  width: 150px;
  position: absolute;
  top: 230px;
  right: 20%;
}
.girlscorediv {
  text-align: center;
  color: white;
  /* border: 1px solid black; */
  background-color: #3e91c3;
  width: 13%;
  height: 53px;
  position: absolute;
  right: 8%;
  top: 80px;
}
.boyscorediv {
  text-align: center;
  color: white;
  /* border: 1px solid black; */
  background-color: #3e91c3;
  width: 13%;
  height: 53px;
  position: absolute;
  left: 8%;
  top: 85px;
}
h2 {
  font-size: 28px;
  text-shadow: 2px 2px black;
}
.wellimage {
  border-radius: 200px;
  margin-top: 100px;
  margin-left: 27%;
}
.numbercontainer {
  position: fixed;
  top: 8%;
  left: 48%;
  font-size: 100px;
  padding: 10px;
  z-index: 999px;
  opacity: 0;
}
.numbercontainer-Add {
  transform: translate(-50%, -50%);
  animation: animationAppear 1s ease-in-out forwards;
}

/* adding keyframes to instruct the animaationApper what to do  */
@keyframes animationAppear {
  from {
    opacity: 1;
    transform: translateY(100%);
  }
  to {
    opacity: 0;
    transform: translateY(0);
  }
}

/* adding media query to add mobile responsiveness */
@media screen and (max-width: 325px) and (min-width: 600px) {
  h2 {
    font-size: 1px;
  }
}
