* {
  padding: 0px;
  margin: 0px; /*setting padding and margin to be 0 for universal selector to avoid spaces that are not required in the page */
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background: rgb(246, 194, 238); /*setting a background gradient using css gradient*/
  background: radial-gradient(
    circle,
    rgba(246, 194, 238, 1) 0%,
    rgba(101, 55, 171, 1) 100%
  );
}
.imgdiv {
  width: 240px;
  margin-left: 39%;
  margin-top: 4%;
}

#maindiv {
  width: 42%;
  display: flex;
  justify-content: space-between;
  margin-top: 3%;
  margin-left: 29%;
}
#addName {
  margin-left: 45%;
  margin-top: 3%;
}
#player1box,
#player2box {
  height: 25px;
}
#addName {
  height: 25px;
  font-weight: bold;
  box-shadow: 2px 2px black;
}

p {
  font-weight: bold;
}

/* adding media queries to makae the page mobile responsiveness */
@media screen and (min-width: 320px) and (max-width: 600px) {
  .maindiv {
    display: block;
    width: 30%;
  }
  .imgdiv {
    margin-left: 22%;
  }
  p {
    font-size: 10px;
  }
  #player1box,
  #player2box {
    width: 60px;
    height: 15px;
  }
  #name1 {
    padding-right: 40px;
  }
  #addName {
    width: 50px;
    font-size: 9px;
    margin-left: 45%;
  }
}
